---
layout: default
title: GitLab Enterprise Edition Demo
suppress_header: true
extra_css:
  - sales-and-free-trial-common.css
---
.wrapper
  .page-illustrated-header-container
    = partial "includes/icons/gitlab-icon-pattern-header.svg"
    .container
      .header-container-content
        %h1 Join a Live Demo of GitLab Enterprise Edition
  .centered-form
    .centered-form-info
      GitLab Enterprise Edition brings all the necessary tools for modern development into a single UI. In this demo, you'll get a first-hand look at how GitLab integrates version control, project management, code review, testing, and deployment to help enterprise teams move faster from idea to production.
      %br/
      %br/
      We'll show GitLab's built-in:
      %ul
        %li End-to-end workflow
        %li Code review tools
        %li Continuous integration and deployment
        %li Production monitoring

    %script{src: "//app-ab13.marketo.com/js/forms2/js/forms2.min.js"}
    %form#mktoForm_1419
    :javascript
      MktoForms2.loadForm("//app-ab13.marketo.com", "194-VVC-221", 1419, function(form) {
          form.onSuccess(function(values, followUpUrl) {

            form.getFormElem().hide();
            document.getElementById('confirmform').style.visibility = 'visible';

            dataLayer.push({event: 'mktoLead',mktoFormId: form.getId()});
            return false;
          });
          function getgacid() {
            try {
              var tracker = ga.getAll()[0];
              return tracker.get('clientId');
            } catch (e) {
              return 'n/a';
            }
          }
          form.vals({
            'gacid': getgacid()
          });
      });
    #confirmform{style: "visibility:hidden;"}
      .centered-form-info
        Registration received! We look forward to showing you GitLab Enterprise Edition.
