---
layout: markdown_page
title: Team Structure
page_class: org-structure
extra_css:
  - "org-chart.css"
---

:markdown
  GitLab Inc. has at most five layers in the team structure:

  1. CEO
  1. CxO's and VP's
  1. Directors
  1. Leads*
  1. Individual contributors (IC's), which can be a [specialist](/jobs/specialist/) in one thing and be an [expert](/jobs/expert/) in multiple things.

  *There is one exception to the above structure. Due to the large number of sales development representatives (SDRs) and business development representatives (BDRs) we have 1 extra layer of management: team leads that report into the manager of sales and business development.
  The title manager is used exclusively outside of engineering and might be one of two roles. Either for an individual contributor (if they don't have reports) or a lead (if they do have reports).

  The groupings of multiple layers are called:

  1. C-team (CEO and CxO's)
  1. Executive team / e-team (CEO, CxO's, and VP's)
  1. Director team (Directors and up)
  1. Management team (Leads and up)
  1. Team / team members / (Git)Labbers (everyone working at the company)
  1. Community (all contributors to GitLab, when excluding team members use: wider community)

  The organization chart below reflects the reporting relations.  You can see our complete team and who reports to whom on the [team page](/team/). Our open vacancies are at our [jobs page](https://about.gitlab.com/jobs/).

.org-chart-container
  .tree
    %ul
      - team_data_tree.each do |member|
        %li
          = partial "team_member", locals: {member: member}

