@import "variables";

body {
  background-color: rgba($color-primary, .23);
}

.bash-summary {
  background: rgba($color-primary, .62);
}

.bash-summary-content {
  text-align: center;
  padding-top: 76px;
  color: $color-white;
  width: 50%;
  margin-left: 25%;

  @media (max-width: 1066px) {
    margin: 0;
    width: 100%;
  }

  li {
    text-align: left;
    font-size: 15px;

    @media (max-width: 1066px) {
      font-size: 13px;
      background-size: cover;
    }
  }

  h1 {
    color: $color-white;
    font-size: 6rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  a {
    color: $link-color;
  }

  .events-link {
    padding: 50px 0;
    text-align: center;
  }
}

.bash-event {
  text-align: center;
  color: $link-box-color;
  border: 2px solid $link-box-border-color;
  padding: 17px;
  border-radius: 3px;
  background: $color-white;
  margin: 25px;
}

.label {
  text-align: center;
  border: 1px solid $bash-label-border-color;
  border-radius: 8px;
  padding: 0 3px;
}
